/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/

@import url(http://fonts.googleapis.com/css?family=Poiret+One); @import url(http://fonts.googleapis.com/css?family=Fenix);

@font-face { font-family: Opificio-Bold; src: url('fonts/Opicio_bold.ttf'); } 
@font-face { font-family: Opificio; src: url('fonts/Opifcio.ttf'); } 
@font-face { font-family: Opificio-Rounded; src: url('fonts/Opificio_rounded.ttf'); }  

/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

html, body{
	height:100%;
	width:100%;
}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 102px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 63px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 39px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

h5{
	font-size: 18px;
	line-height: 27px;
}

body {
	font: 16px/24px /*Fenix, Trebuchet MS,*/ sans-serif; Georgia, serif; /*'Poiret One'*/
	min-width:300px;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,0,255);}
::-moz-selection 	{background: rgb(255,0,255);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* CONTAINER STYLES*/

 /* *{outline:1px solid red;} /**/
.wrapper{
	min-width:300px;
	position:relative;
	width: 100%;
	/*margin-bottom:0;*/
	margin: 0 auto;
}
.innerwrapper{
	min-width:300px;
	position:relative;
	width:800px;
	margin: auto;
	text-align:center;
}
.relwrapper{
	position:relative;
}

.boxshadow{
	box-shadow: 0 3px 7px rgba(0, 0, 0, .7);
}
p{
	margin-bottom:10px;
}
a{
	color:rgb(26,198,217);
	text-decoration:none;
}
a:hover{
	color:rgb(60,60,60);
}

/*HEADER STYLES*/
.titleH {font-family: Baskerville, sans-serif;}
.title {color: rgb(60,60,60); }
.accentColor{color: rgb(26,198,217);}

header{
	background:#ffffff; 
	font-family: Poiret One, helvetica, sans-serif, Georgia, serif;
	text-align:center;
}

#logo{
	margin: 30px 0 30px 0;
	
}
img#logo{max-width:100%;
	min-width: 300px;}
/*nav ul li a{ 
	display:inline;
	float: left; 
} */

.darknav{
	position:relative;
	width:100%;
	margin:0 0 72px 0;
	background: rgb(60,60,60);
	color: #ffffff;
}

nav.darknav h3{
	display:inline-block;
	margin-left: 75px;
}
nav.darknav h3:first-child{
	margin-left: 0;
}
nav.darknav a {
	color:#ffffff;
	/*color:rgb(60,60,60);*/
	text-decoration:none;
}
nav.darknav a:hover{
	color:rgb(26,198,217);
}
nav.darknav a.active{
	color:rgb(26,198,217);
}

/*SECTION INNER STYLES*/

.innercontent {margin-top:48px;}
.innerfullwidth{
	padding-left: 100%;
	margin-left: -100%;
	padding-right: 100%;
	margin-right: -100%;
}
.dashedtop{
	border-top: 5px solid darkgray;/*rgb(26,198,217);*/
}
.dashedbottom{
	border-bottom: 1px dashed rgb(26,198,217);
	margin-bottom: 40px;
}

.content {
	/*min-height: 200px;*/
	height: auto;
	width:auto;
	position:relative;
	margin:20px 0 20px 0;
	padding: 10px 20% 10px 20%;
	
	text-align:left;
	padding-bottom: 25px;
	/*border-left: 1px solid #3c3c3c;
	border-right: 1px solid #3c3c3c;*/
}
#content-home{
	background: ;/*url("images/linedpaper.png") repeat;*/
	overflow : hidden; 
	/*box-shadow: 0px 3px 3px rgba(0, 0, 0, .7);*/
}
#content p{
	font-size: 22px;
	line-height: 30px;
}
#content h3{
	font-size: 26px;
	line-height: 52px;
	margin-top:10px;
}

#footerAccent{
	position:relative;
	padding-left: 70px;
	margin-top: 72px;
	margin-left: -70px;
	margin-bottom: -8px;
	width:100%;
	height: 60px;
	background:rgb(26,198,217);
	border-top: 1px solid #e9e9ed;
}
#footer{
	/*padding-left: 70px;
	margin-left: -70px;
	width:100%;
	min-width: 800px;
	margin-right: auto;
	font-style:italic;
	background:#ffffff;
	box-shadow: 5px 5px 5px #888888; */
	position:absolulte;
	width:100%;
	text-align: left;
	bottom: 10px;
}
.footer a, .footer span{border-bottom:dashed 1px gray;}
.footer{font-size: 14px; text-align:left;}
.footer span{margin-left: 0;}
.footer.innerwrapper{
  width: 1024px;
}
.footer ul {position:relative; display:inline-block; vertical-align:bottom; margin-top:25px; margin-left: 599px;}
.footer li {display:inline-block; list-style-type:none; margin-left: 20px; } /*float:right; position: relative; margin-left:40px;}*/
.footer span{width: 80px;}

/*RECENT WORK */
dt, dd, #recentwork li, #recentwork ol {display: inline-block; list-style-type:none; color:black;}
#recentwork ol{background-color: #FAFAFA; text-align:center; width: 100%; min-width: 300px;}
#recentwork dd{	
	font-size: 13px;
	line-height: 18px;
}
#recentwork li{margin: 0px 10px 20px 0px; padding: 5px; height: 200px; width: 275px; text-align:left;}
#recentwork li:last-child{margin: 0px 0px 20px 0px;}
#recentwork img{border-bottom: 1px solid #F3F2F1; margin:5px 5px 15px 5px;}

/*SKILLS SECTION*/
.frontend, .backend{
	margin-top:90px;
}
.frontend{
	
}
#front-back-wrapper{
	width:100%;
	margin-left:auto;
	margin-right: auto;
	text-align:center;
}
h3.frontend{
	text-align: left;
	margin-top: -20px;
}
.skillsCol1{
	position:relative;
	margin-top:-45px;
	left:0;
	width:230px;
	margin-bottom:130px;
}
.skillsCol2{
	position:absolute;
	display:inline-block;
	top:0;
	left:250px;
	width:200px;
}

.skillsCol3{
	position:absolute;
	display:inline-block;
	top:0;
	left:600px;
	width:230px;
}

.skillsCol4{
	position:absolute;
	display:inline-block;
	top:0;
	left:850px;
	width:244px;
}
.bullets{
	font-size:42pt;
	line-height: 63px;
	vertical-align:top;
}
.bulletsColor{
	color: rgb(26,198,217);
}

.textbox{	
	background-color: #fff;
	padding-top: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #efeee6;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;	
}
#cf-logo{
  background-color: #323232;
}	
#skillstext-bg{
	position:relative;
	text-align:left;
}
#skillstext{}


/*WORK SECTION*/
#work li{list-style-type:none;}
#work li.space{margin-top:15px;}
#work ul{width: 350px; margin:16px 25px 25px 100px; display:inline-block; vertical-align:top; text-align:center;}
#work nav ul:first-child{margin-left:0}
#work h3 {margin-top:40px;}
#back-top {
	position: fixed;
	bottom: 150px;
	margin-left: 950px;
	/*margin-right: -150px;*/
}

/*DEFAULTS*/

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

.bodywidth {
	width: 896px;
	padding: 72px 68px 0px;
	background: rgb(232,232,232);
	background-image: url(images/noisy_grid.png);
	background-repeat:repeat;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.wrapper{}
	body {
		width: auto;
		/*padding: 48px 28px 60px;*/
	}
	#footer ul {position:relative; display:inline-block; vertical-align:bottom; margin-left: 50%; }
	#recentwork li, #recentwork ol{display:block;}
	#recentwork ol{text-align:center;}
	.innerwrapper, .footer, h1, h2 { width:auto; min-width:300px;}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.wrapper{}
	body {
		width: auto;
		/*padding: 48px 34px 60px;*/
	}
	#footer ul {position:relative; display:inline-block; vertical-align:bottom; margin-left: 50%; }
	#recentwork li, #recentwork ol{display:block;}
	#recentwork{text-align:center;}
	.innerwrapper, .footer, h1, h2{ width:auto; min-width:300px;}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: auto;
		/*padding: 36px 22px 48px;*/
	}
	
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
		width:auto;
	}
	
}
